# S3 / MinIO Configuration
S3_ENDPOINT_URL=https://minio-console.lab.groupe-genes.fr
S3_BUCKET=plemoine-ensae/wildfire-prediction
ACCESS_KEY=""
SECRET_KEY=""
SESSION_TOKEN=""

# MLflow Configuration
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=

# API Configuration
API_PORT=8000