# Données 
.env
.envrc
*.csv
*.zip
data/

# Environnements virtuels
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
secret.yaml

# Python core 
__pycache__/
*.py[codz]
*$py.class
*.so
.Python

# Data science & Jupyter
.ipynb_checkpoints/
profile_default/
ipython_config.py
*.sage.py
marimo/_static/
marimo/_lsp/
__marimo__/

# Tests & couverture
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
cover/
coverage.xml
htmlcov/
nosetests.xml
*.cover
*.py.cover

# Linting & typage
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Distribution & packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pypirc

# Loke files
# Pipfile.lock
# poetry.lock
# poetry.toml
# uv.lock
# pdm.lock
.pdm-python
.pdm-build/
.pixi

# Ides
.vscode/
.idea/
.cursorignore
.cursorindexingignore
.spyderproject
.spyproject
.ropeproject

# Os
.DS_Store
Thumbs.db

# Autres frameworks
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
celerybeat-schedule
celerybeat.pid
.abstra/
