apiVersion: v1
kind: Secret
metadata:
  name: wildfire-secrets
type: Opaque
stringData:
  S3_BUCKET: "your-s3-bucket-name"
  MLFLOW_TRACKING_URI: "https://your-mlflow-uri"
  AWS_ACCESS_KEY_ID: "your-access-key-id"
  AWS_SECRET_ACCESS_KEY: "your-secret-access-key"
